.media-icon-t:hover{
    background: url('http://johansblog.com/e-portfolio/ENG2100/img/tn.png');
}
.media-icon-f:hover{
    background: url('http://johansblog.com/e-portfolio/ENG2100/img/fn.png');
}
.media-icon-y:hover{
    background: url('http://johansblog.com/e-portfolio/ENG2100/img/yn.png');
}
.media-icon-i:hover{
    background: url('http://johansblog.com/e-portfolio/ENG2100/img/in.png');
}