body{
    background-image: url('../img/bg.jpeg');
    background-size: cover;
    font-family: sans-serif;
    text-align: center;
    color: white;
}
header, .main, footer{
    margin: auto;
    width: 600px;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.603);
}
.reseter, .starter{
    margin: 5px;
    padding: .5em 2em;
    background-color: rgb(255, 0, 179);
    border: 1px solid white;
    border-radius: 2em;
}
.starter:hover{
    background-color: rgb(157, 36, 194), 5.00;
}
.reseter:hover{
    background-color: rgb(157, 36, 194), 5.00;
}
.starter:visited{
    color: rgb(255, 255, 255);
}
.reseter:visited{
    color: rgb(255, 255, 255);
}